.header {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: rgb(23 23 23);
  border-bottom: 1px solid rgb(38 38 38);
}

.split {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.split.vertical {
  flex-direction: column;
}

.gutter {
  background-color: rgb(38 38 38);
  transition: background-color 0.2s;
}

.gutter:hover {
  background-color: rgb(59 130 246);
}

.gutter.gutter-horizontal {
  cursor: col-resize;
  width: 4px;
}

.gutter.gutter-vertical {
  cursor: row-resize;
  height: 4px;
}

.split-view-container {
  height: calc(100vh - 3.5rem); /* Subtracting header height */
  overflow: hidden;
}
