.navbar {
  width: 100%;
  background-color: gray;
  color: white;
  padding: 1rem 0;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-text {
  font-size: 1.5rem;
}
